* {
    font-family: 'Roboto';
    color: #808080;
}

body {
    min-height: 100vh;
    background-color: #DCDCDC;
}

header {
    background-color: #19AD97;
}

a {
    color: #FFF;
}

a:hover {
    color: #AD9719;
}

#cards-container {
    background-color: #FFF;
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
  }

.card-title {
    margin-top: 5px;
}

.btn-primary {
    background-color: #5db3a6;
    border: 2px solid #19AD97;
    margin: 2px;
  }
  
.btn-primary:hover {
    background-color: #19AD97;
    border-color: #19AD97;
    margin: 2px;
  }

#task-create-container {
  padding: 30px

}

footer {
    text-align: center;
    background-color: #19AD97;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    margin-bottom: 0;
  }